flows/create_object_record_based_on_user_choice.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>case</name>
        <choiceText>case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>case</stringValue>
        </value>
    </choices>
    <choices>
        <name>contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>opportunity</name>
        <choiceText>opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>opportunity</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_selected_object</name>
        <label>check selected object</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Iscontact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectobject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_contact</targetReference>
            </connector>
            <label>Iscontact?</label>
        </rules>
        <rules>
            <name>Isopportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectobject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_opportunity</targetReference>
            </connector>
            <label>Isopportunity</label>
        </rules>
        <rules>
            <name>Iscase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectobject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createcase</targetReference>
            </connector>
            <label>Iscase?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>originchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickstage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>create object record based on user choice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create object record based on user choice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_case_record</name>
        <label>create case record</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>caseorigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_contact_record</name>
        <label>create contact record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_opp_record</name>
        <label>create opp record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>opp_close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>oppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>create_contact</name>
        <label>create contact</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_contact_record</targetReference>
        </connector>
        <fields>
            <name>lastname</name>
            <dataType>String</dataType>
            <fieldText>lastname</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>email</name>
            <dataType>String</dataType>
            <fieldText>email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>phone</name>
            <dataType>String</dataType>
            <fieldText>phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>create_opportunity</name>
        <label>create opportunity</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_opp_record</targetReference>
        </connector>
        <fields>
            <name>stage</name>
            <choiceReferences>choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>opp_close_date</name>
            <dataType>Date</dataType>
            <fieldText>opp close date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>oppName</name>
            <dataType>String</dataType>
            <fieldText>oppName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>createcase</name>
        <label>createcase</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_case_record</targetReference>
        </connector>
        <fields>
            <name>status</name>
            <choiceReferences>pickstage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>caseorigin</name>
            <choiceReferences>originchoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>caseorigin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>object_selection</name>
        <label>object selection</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_selected_object</targetReference>
        </connector>
        <fields>
            <name>selectobject</name>
            <choiceReferences>contact</choiceReferences>
            <choiceReferences>opportunity</choiceReferences>
            <choiceReferences>case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>selectobject</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>object_selection</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
