flows/Create_multiple_contacts_or_opps.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_contact_records_to_list</name>
        <label>Assign contact records to list</label>
        <locationX>442</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>contactlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_how_many_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_to_contact</name>
        <label>Assign recontact information</label>
        <locationX>307</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lastname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_contact_records_to_list</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>contact</name>
        <choiceText>contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>opportunity</name>
        <choiceText>opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>opportunity</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_how_many_to_create</name>
        <label>check counter value</label>
        <locationX>272</locationX>
        <locationY>167</locationY>
        <defaultConnector>
            <targetReference>Create_contacts_from_the_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>counter_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>how_many_records</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>provide_input_for_contact</targetReference>
            </connector>
            <label>counter value?</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_records_to_create</name>
        <label>object selection</label>
        <locationX>642</locationX>
        <locationY>307</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Iscontact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>select_object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_how_many_to_create</targetReference>
            </connector>
            <label>Iscontact?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create multiple contacts or opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create multiple contacts or opps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_contacts_from_the_list</name>
        <label>Create contacts from the list</label>
        <locationX>50</locationX>
        <locationY>191</locationY>
        <inputReference>contactlist</inputReference>
    </recordCreates>
    <screens>
        <name>create_multiple_contact_or_acct</name>
        <label>create multiple contact or acct</label>
        <locationX>648</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>which_records_to_create</targetReference>
        </connector>
        <fields>
            <name>select_object</name>
            <choiceReferences>contact</choiceReferences>
            <choiceReferences>opportunity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>select object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>how_many_records</name>
            <dataType>Number</dataType>
            <fieldText>how many records?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>provide_input_for_contact</name>
        <label>provide input for contact</label>
        <locationX>217</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_record_to_contact</targetReference>
        </connector>
        <fields>
            <name>Lastname</name>
            <dataType>String</dataType>
            <fieldText>Lastname</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailId</name>
            <dataType>String</dataType>
            <fieldText>EmailId</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>contactPhone</name>
            <dataType>String</dataType>
            <fieldText>contactPhone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>517</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>create_multiple_contact_or_acct</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>contactlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
